<div class="container">
    <h3>Add Product Reactive form</h3>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Id</label>
            <input id="id" type="number" class="form-control"
                formControlName="id" required />
			<div *ngIf="formErrors.id" class="alert alert-danger">
				{{ formErrors.id }}
			</div>
        </div>

        <div class="form-group">
            <label for="name">name</label>
            <input id="name" type="text" class="form-control"
                formControlName="name" required />
            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <label for="price">price</label>
            <input id="price" type="number" class="form-control"
                formControlName="price" required />
            <div *ngIf="formErrors.price" class="alert alert-danger">
                {{ formErrors.price }}
            </div>
        </div>
            
        <div class="form-group">
            <label for="category">category</label>                       	
            <select id="category" class="form-control"
                formControlName="category" required>
            <option *ngFor="let i of categorys" [value]="i">{{i}}</option>
            </select>
            <div *ngIf="formErrors.category" class="alert alert-danger">
                {{ formErrors.category }}
            </div>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!addForm.valid">Submit</button>
    </form>
</div>